h1 {
  padding: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
  align-items: center;
}

.logos img {
  width: 5rem;
  height: auto;
  transition: transform 0.3s;
}

.logos img:hover {
  transform: scale(1.1);
}
