@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("./pictures/w.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  overflow-x: hidden;
}

main {
  flex: 1;
}

nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.32);
  height: 4rem;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

nav ul li a {
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  white-space: nowrap;
}

nav ul li a:hover {
  color: #ff0048;
}

nav img {
  height: 2.3rem;
  transition: 0.3s;
}

nav img:hover {
  transform: scale(1.1);
}

nav h1 {
  font-family: "Coral Pixels", serif;
  font-size: 2rem;
  color: white;
}

.footer {
  background: linear-gradient(135deg, #1f1f1f, #2d2d2d);
  color: #ccc;
  text-align: center;
  padding: 30px 20px;
  margin-top: 50px;
  position: relative;
  font-family: 'Source Code Pro', monospace;
  border-top: 2px solid #444;
}

.footer p {
  margin: 0;
  font-size: 1.1rem;
  color: white;
}

.footer {
  margin-top: auto;
}

@media (max-width: 768px) {
  nav {
    padding: 1rem;
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  nav h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  nav img {
    height: 2rem;
  }
}


@media (max-width: 570px) {
  nav {
    gap: 4px;
  }

  nav ul li:not(:first-child) {
    display: none;
  }

  nav h1 {
    font-size: 1.3rem;
    margin: 0 auto;
    text-align: center;
  }

  nav img {
    height: 1.8rem;
  }
}
